.contenir{
    display:flex;
    justify-content: space-around;

}
.formA{
    border: 2px;
    background-color: rgb(250, 244, 244);
    text-align: center;
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: column;
    margin-left: 20%;
}
    
.formB{
    border: 2px;
    background-color: rgb(250, 244, 244);
    text-align: center;
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input {
    width: 90%;
    padding: 10px;
    margin: 5px 15px;
    border: 1px solid hsl(330, 80%, 2%);
    border-radius: 4px;

}
input[type="submit"] {
    background-color: hsl(248, 89%, 45%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label{
    display:flex;
    align-items: start;
}
