/* body {
    background-color: #fce3e3; 
}

form {
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px;
    width: 700px;
    height: 700px;
    margin: 0 auto;
}

label {
    color: hwb(238 2% 87%); 
    font-weight: bold;
    display: block; 
    margin-bottom: 10px; 
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #1b14d2; 
    border-radius: 4px;
    display: block; 
}

input[type="submit"] {
    background-color: hsl(242, 94%, 43%); 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: hwb(323 8% 0%); 
}
p{
    color: hwb(229 0% 87%);
}
h4{
    color: hsl(243, 100%, 54%);
}
a{
    color: #2714ff;
} */





body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex; 
    justify-content: space-around; 
    margin-right: 20%;
    
}

/* form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 45%; 
} */



.formB {
    border: 1px solid #e3e3e3; 
    width: 700px;
    margin-left: 10%;
    margin-bottom: 100%;
}
.formA {
    /* border: 1px solid #e3e3e3;
    height: 40px;
    margin-right: 10%;
    width: 20%; */
    border: 1px solid #e3e3e3; 
    width: 700px;
    margin-left: 10%;
    margin-top: auto;
}

label {
    color: #17020c;
    font-weight: bold;

}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid hsl(330, 80%, 2%);
    border-radius: 4px;
}

input[type="submit"] {
    background-color: hsl(248, 89%, 45%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: hsl(235, 100%, 54%);
}
 .contenir{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
align-items: center;
} 
.sonou{
    display: flex; 
    justify-content: space-around;
    margin-top: px;
    margin-left: 90%;
    margin-right: 200%;
    margin-bottom: 100px;
}
